<!DOCTYPE html>
<html>
<head>
	<title>-</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<%# jQuery %>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<%# select2 %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</head>
<body id="container">
	<div id="main">


		<div class="page-left page-sidebar">
			<div id="test"></div>
		</div>

		<div class="page-center">

			<% if (page === "homepage") { %>
				<%# ul.HOMEPAGE to-read-list covers-list list-unstyled list-inline single-row %>

				<%# ul.SEARCH search-results-list shows-results-list covers-list list-unstyled list-inline %>


				<ul class="to-read-list covers-list list-unstyled list-inline single-row">
					<% comics.forEach( comic => { %>
						<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
					<% }) %>
				</ul>
			<% } else if (page === "comics") { %>
				<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
			<% } else { %>
				<% comics.forEach( comic => { %>
					<ul>
						<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
				    </ul>
				<% }) %>
			<% } %>

		<%# search %>
		<select id="search" name="search"/>
		<%# // search %>

		</div>

	</div>



	<script src="/static/js/main.js"></script>
</body>
</html>