<!DOCTYPE html>
<html>
<head>
	<title>-</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<%# to includes, npm %>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body id="container">
	<div id="main">


		<div class="page-left page-sidebar">
		</div>

		<div class="page-center">

			<% if (page === "homepage") { %>
				<ul class="to-read-list covers-list list-unstyled list-inline single-row">
					<% comics.forEach( comic => { %>
						<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
					<% }) %>
				</ul>
			<% } else if (page === "comics") { %>
				<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
			<% } else { %>
				<% comics.forEach( comic => { %>
					<ul>
						<%- include('includes/comic.ejs', {comic: comic, page: page}) %>
				    </ul>
				<% }) %>
			<% } %>

		</div>

	</div>


	<script src="/static/js/main.js"></script>
</body>
</html>