<!DOCTYPE html>
<html>
<head>
	<%# meta %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<%#meta name="viewport" content="width=1040"%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<%#meta name="MobileOptimized" content="1040"%>
	<meta http-equiv="content-language" content="en">

	<title>-</title>
	<%# jQuery %>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<%# select2 %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js"></script>
	<%# EJS %>
	<script src="/static/js/ejs.js"></script>
	<%# custom %>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body id="container">
	<div id="main">


		<div class="page-left page-sidebar">
			<%# search %>
			<select id="search" name="search"></select>
			<%# // search %>

			<%# update %>
			<button id="update" name="update">update</button>
			<%# // update %>
		</div>

		<div class="page-center">

			<%# ul.HOMEPAGE to-read-list covers-list list-unstyled list-inline single-row %>
			<%# ul.SEARCH search-results-list shows-results-list covers-list list-unstyled list-inline %>
			<% if (options.page === "homepage") { %>
				<ul class="to-read-list covers-list list-unstyled list-inline single-row">
					<% comics.forEach( comic => { %>
						<%- include('includes/comic.ejs', {options: options, comic: comic, options: options}) %>
					<% }) %>
				</ul>
			<% }

			else if (options.page === "comics") { %>
				<%- include('includes/comic.ejs', {options: options, comic: comic}) %>
			<% } else { %>
				<% comics.forEach( comic => { %>
					<ul>
						<%- include('includes/comic.ejs', {comic: comic}) %>
				    </ul>
				<% }) %>
			<% } %>


			<div id="test"></div>

		</div>

	</div>



	<script src="/static/js/main.js"></script>
</body>
</html>