/*
:root {
	
}
:root, :root .light {
	
}
:root .dark {
}
:root .night {
}

*/

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	

:root {
	/*--main-bg-color: #121212;*/
	/*--menu-bg-color: #272727;*/

	/*--main-color: #FFF;*/

	--main-link-color: #3EA6FF;
	--alt-link-color: #AAA;

	--main-default-width: 160px;

	
	--switch-inner-width: 22px;
	--switch-inner-height: var(--switch-inner-width);

	--switch-outer-width: calc(var(--switch-inner-width) + 24px); /* 46px */
	--switch-outer-height: calc(var(--switch-inner-height) + 4px); /* 26px */
}



:root {
	--main-bg-color: #121212;
	--main-menu-bg-color: #272727;
	--main-color: #FFFFFF;
	--main-listed-issue-bg: #000000;

	--dark-bg-color: #121212;
	--dark-menu-bg-color: #272727;
	--dark-color: #FFFFFF;
	--dark-listed-issue-bg: #000000;

	--light-bg-color: #FFFFFF;
	--light-menu-bg-color: #272727;
	--light-color: #444444;
	--light-listed-issue-bg: #ECECEC;
}

:root, :root .dark {
	--main-bg-color: var(--dark-bg-color);
	--main-menu-bg-color: var(--dark-menu-bg-color);
	--main-color: var(--dark-color);
	--main-listed-issue-bg: var(--dark-listed-issue-bg);
}

:root .light {
	--main-bg-color: var(--light-bg-color);
	--main-menu-bg-color: var(--light-menu-bg-color);
	--main-color: var(--light-color);
	--main-listed-issue-bg: var(--light-listed-issue-bg);
}
.light .select2-search,
.light .select2-search input,
.light .select2-results {
	color: #FFFFFF !important;
}
.light .fa-read-status {
	color: var(--main-color);
}

@media (prefers-color-scheme: light) {
	:root:not(.dark) {
		--main-bg-color: var(--light-bg-color);
		--main-menu-bg-color: var(--light-menu-bg-color);
		--main-color: var(--light-color);
		--main-listed-issue-bg: var(--light-listed-issue-bg);
	}
	.select2-search,
	.select2-search input,
	.select2-results {
		color: #FFFFFF !important;
	}

	.fa-read-status {
		color: var(--main-color);
	}
/*	:root:not(.night):not(.dark) .variant-dark {
	}*/
}



body {
	background: var(--main-bg-color);
	color: var(--main-color);
	overflow-x: hidden;
	font-family: ProximaNova, Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.428571429;
	margin: 0;
	padding: 0 0 1px;
}

a {
	color: var(--main-link-color);
	background-color: transparent;
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: underline;
	outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.h2, h2 {
	font-size: 30px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	/*font-family: ProximaNovaSB,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
img {
	border: 0;
	vertical-align: middle;
}

dl, ol, ul {
	margin-top: 0;
}

ol, ul {
	margin-bottom: 10px;
}

hr {
	border-color: #666;
}

.header .menu, .page-left .menu {
	font-size: 0;
	margin: 0 0 10px;
}
.header .menu>li a, .page-left .menu>li a {
	color: var(--alt-link-color);
	font-size: 14px;
	/*font-family: ProximaNova;*/
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	display: table;
	content: " ";
}

/* general */
.list-inline, .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	margin-left: -5px;
	margin-right: -5px;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.embed-responsive, .modal, .modal-open, .progress {
	overflow: hidden;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.progress {
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.progress-bar-success {
	background-color: #5cb85c;
}
/*  */

.page-sidebar {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	width: 240px;
	vertical-align: top;
	z-index: 99;
}

.page-left {
	left: 0;
	background-color: var(--main-menu-bg-color);
}
.page-left .extend-left-link {
	display: none;
}
.page-left>.scrollable {
	overflow-y: auto;
	height: 100%;
}
.page-left #home-link {
	z-index: 1;
	position: relative;
	text-align: center;
	margin: 12px auto;
	display: block;
	height: 42px;
}
.page-left #home-link .logo {
	height: 42px;
	width: 42px;
}
.page-left #home-text {
	display: none;
}

.page-left .menu>li {
	padding: 12px 0 6px;
}

.page-left section {
	padding: 12px 0;
	margin: 0 20px;
	border-top: 1px solid #333;
}

.page-left section#menu {
	border-top: none;
}

.header .menu>li a i, .page-left .menu>li a i {
	display: inline-block;
	width: 21px;
	color: var(--alt-link-color);
	font-size: 18px;
	position: relative;
	top: 3px;
	text-align: center;
	margin-right: 10px;
}

.header .menu>li a:hover, .header .menu>li.active a, .page-left .menu>li a:hover, .page-left .menu>li.active a {
	text-decoration: none;
	color: #fff;
}

.page-center {
	display: block;
	margin: 0 0 0 240px;
	background-color: var(--main-bg-color);
}

.page-center section {
	position: relative;
	padding: 20px 12px 0;
}

.page-center section h1,
.page-center section h2 {
	/*font-family: ProximaNova;*/
	color: #666;
	line-height: 24px;
}

.page-center section h1 {
	margin: 0 0 0 12px;
	font-size: 19px;
}

.page-center section h2 {
	margin: 5px 0px 0 12px;
	font-size: 16px;
}

.page-center section hr {
	margin: 10px;
}

.page-center-inner {
	position: relative;
}

#home {
	margin: 0;
	min-height: 600px;
}

/* homepage comics */
.covers-list {
	font-size: 0;
	letter-spacing: -1px;
	text-align: left;
	margin-top: 10px;
}
.covers-list > li {
	padding: 5px 10px; /* 12px 17px; */
	/*width: 187px;*/
	overflow: hidden;
	vertical-align: top;
}
.covers-list>li .nav {
	text-align: right;
	margin-bottom: 2px;
}
.covers-list>li .image-crop {
	/*width: 155px;
	height: 222px; x1.29032258*/
	/*width: 200px;*/
	width: var(--main-default-width);
	/*height: 300px;*/
	height: auto;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 0 2px #777;
	position: relative;
	transition: opacity 0.05s, visibility 0s 0.05s;
}
.covers-list>li .image-crop.img-loading {
	opacity: .5;
}
.covers-list>li .image-crop .loader-container {
	display: none;
}
.covers-list>li .image-crop.img-loading .loader-container {
	display: block;
}
.covers-list>li .image-crop .loader-container {
	position: absolute;
	left: 50%;
	top: 50%;
}
.covers-list>li .image-crop .fa-icon-loading {
	position: relative;
	left: -50%;
	font-size: 25px;
	color: #919191;
	opacity: .8;
}
.covers-list>li .nav a {
	color: #666;
	font-size: 16px;
	padding: 0;
	background-color: transparent;
}
.covers-list>li .nav a:hover {
	color: #333; /* light */
	color: #999; /* dark */
	text-decoration: none;
}
.covers-list>li:not(.new) .new-label {
	display: none;
}
.covers-list>li.new .new-label {
	position: absolute;
	top: 24px;
	left: -24px;
	width: 68px;
	height: 34px;
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: gold;
	color: rgba(39,39,39,.8);
	/*font-family: ProximaNovaSB;*/
	font-size: 12px;
	text-transform: uppercase;
	z-index: 0;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	padding-top: 16px;
	text-align: center;
}
.covers-list>li .image-crop img {
	width: 100%;
}
.covers-list>li .image-crop .progress {
	position: absolute;
	bottom: 0;
	height: 4px;
	background-color: rgba(0,0,0,.5);
	border-radius: 0;
	z-index: 0;
	margin-bottom: 0;
	width: 100%;
}
.covers-list>li .image-crop .progress .progress-bar {
	background-color: #7cdb62;
	box-shadow: none;
}
.covers-list>li .image-crop .overlay {
	/*display: none;
	position: absolute;
	border-radius: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,.6);
	letter-spacing: 0;*/
}
.covers-list>li .image-crop:focus .overlay, .covers-list>li .image-crop:hover .overlay {
	/*display: block;*/
}
.covers-list>li .cover-details {
	letter-spacing: 0;
	text-align: left;
}
.covers-list>li .cover-details h2 {
	margin: 7px 0 2px;
	font-size: 14px;
	color: #444;
	/*font-family: ProximaNovaSB;*/
	/*height: 15px;
	overflow: hidden;*/
	/*word-break: break-all;*/
	/*width: 200px;*/
	max-width: var(--main-default-width);
}
.covers-list>li .cover-details a {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.covers-list>li .cover-details h2 a {
	color: var(--main-color);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}
.covers-list>li .cover-details h2 span:not(.issue-number),
.covers-list>li .cover-details span:not(.issue-number) {
	/*font-family: ProximaNova;*/
	font-size: 12px;
	color: #999;
}
.covers-list>li .cover-details a {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.covers-list>li .cover-details .secondary-link {
	color: #666;
	/*font-family: ProximaNova;*/
	font-size: 12px;
	display: inline;
}
.covers-list>li .comics.complete .to-read-icon {
	visibility: hidden;
}

.menu .calendar .fa-calendar {
	position: relative;
	/* color: var(--alt-link-color); */
}

.menu .calendar .calendar-day {
	position: absolute;
	left: 0;
	top: 8px;
	width: 100%;
	color: #272727;
	font-weight: 600;
	font-size: 10px;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}


/* SEARCH BOX */
.select2-search, .select2-search input, .select2-results {
	background: var(--main-menu-bg-color);
	color: var(--main-color);
}
.select2-dropdown {
	border: none;
}
.select2-container--default .select2-selection--single {
	/*border: 1px solid #353535;
	color: #fff;*/
	/*padding: 4px 6px 4px 26px;*/
}

.select2-container.select2-container--default {
	z-index: 7001;
}

.select2-container--default .select2-results>.select2-results__options {
	overflow-y: auto;
	overflow-x: hidden;
}

.select2-container--open .select2-dropdown--below {
		position: fixed;
}

@media (max-width: 768px) {
	.select2-container.select2-container--default.select2-container--open:not(.select2-container--below) {
		top: 62px !important;
		/*line-height: 28px;*/
	}
	.select2-container--default .select2-results>.select2-results__options {
		max-height: calc(100vh - 42px - 24px - 28px + 4px);
	}
}

@media (min-width: 769px) {
	.select2-container--open .searchbox {
		display: none;
	}
	.select2-drop {
		display: none !important;
	}
	.select2-container.select2-container--default.select2-container--open {
		top: 66px !important;
		/*line-height: 28px;*/
	}
	.select2-container--default .select2-results>.select2-results__options {
		/*max-height: calc(100vh - 28px - 33px); --> before changing select2 appearance*/
		/*max-height: calc(100vh - 42px - 24px - 28px - 8px);*/
		max-height: calc(100vh - 42px - 24px - 28px - 2px);
	}
}
.select2-search--dropdown {
	padding: 0;
}
.select2-search--dropdown .select2-search__field {
	height: 28px;
}
input.select2-search__field, .select2-container--default .select2-selection--single.searchbox {
	outline: none !important;
	border: 1px solid #353535 !important;
	color: #fff !important;
	background-color: #222;
	border-radius: 0;
}
span.select2-selection__arrow {
	display: none;
}


.search-item {
	overflow: auto;
	zoom: 1;
}

.search--image {
	float: left;
	width: 30%;
	padding: 0 6px 0 0;
}

.search--image img {
	width: 100%;
}

.search--info {
	float: right;
	/* margin: 0 0 0 20%; */
	width: 70%;
}


@media (max-width: 768px) {
	.page-left {
		height: 100%;
		width: 100%;
		overflow: hidden;
		bottom: auto;
		max-height: 60px;
		z-index: 7000;
		-webkit-transition: max-height .5s ease-in-out;
		-moz-transition: max-height .5s ease-in-out;
		-ms-transition: max-height .5s ease-in-out;
		-o-transition: max-height .5s ease-in-out;
		transition: max-height .5s ease-in-out;
	}
	.page-left>.scrollable {
		overflow-y: hidden;
	}
	.page-left.extended {
		max-height: 100%;
		height: 100%;
		/*overflow-y: scroll;*/
	}
	.page-left.extended .extend-left-link {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.header .menu>li a, .header .menu>li a i, .page-left .menu>li a, .page-left .menu>li a i {
		font-size: 21px;
	}
 	
	.menu .calendar .calendar-day {
		top: 8px;
		font-size: 12px;
	}

	.page-left .wrapper {
		max-height: 100%;
		height: 100%;
	}

	.page-left .extend-left-link:hover {
		text-decoration: none;
	}
	.page-left .extend-left-link {
		display: block;
		color: #fff;
		font-size: 28px;
		position: absolute;
		top: 10px;
		right: 16px;
		line-height: 42px;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.page-left #home-link {
		margin: 10px;
		display: inline-block;
		color: #fff;
		/* font-family: ProximaNovaSB; */
		font-size: 25px;

		font-family: 'Montserrat';
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 900;
	}
	.page-left #home-text {
		display: inline;
	}

	.page-left #search-wrap {
		/*display: none;*/
	}
	.page-left.extended #search-wrap {
		display: block;
	}

	.page-center {
		margin: 60px 0 0!important;
	}
	/*.page-center-inner {
		position: relative;
		margin-top: 60px;
	}*/
	#issue-details .issue-infos .basic-infos, #show-details .basic-infos, .covers-list {
		text-align: center;
	}

	.covers-list>li {
		padding: 12px 7px;
		/*width: 148px;*/
	}
	.covers-list>li .image-crop {
		/*width: 132px;
		height: 195px;*/
		/*width: 170px;
		height: 255px;*/
		width: 100% !important;
		height: auto !important;
	}
	.covers-list>li .cover-details h2 {
		/*width: 170px;*/
		width: 100%;
	}

	/* iPhone/tablet v2 */
	#issue-details .issue-infos .basic-infos, #show-details .basic-infos, .covers-list {
		text-align: left;
	}

	.comics {
		width: calc(100%/3);
	}
	/* to remove */
	#home {
		margin-top: 60px;
	}
}

/* Comics page */
.comics-issue {
	padding: 0 10px;
	margin: 10px;
	background: var(--main-listed-issue-bg);
}
.comics-issue-top {
	padding: 10px 0;
	position: relative;
}
.comics-issue-top div {
	display: inline;
}
.comics-issue-top .comics-issue-status span {
	/*float: right;*/
	cursor: pointer;
}
.comics-issue-top .comics-issue-title {
	cursor: pointer;
	margin-left: 10px;
}
.comics-issue-top .comics-issue-status {
	position: absolute;
	right: 0;
}
.comics-issue-bottom {
    padding: 0 0 10px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.comics-issue-controls .comics-issue-control {
	cursor: pointer;
}
.comics-issue-bottom img.comics-issue-img {
    width: 100%;
    max-width: 400px;
}
.comics-issue code[class*="language-"], 
.comics-issue pre[class*="language-"] {
    width: 100%;
}

.comics-issue:not(.open) .comics-issue-opened {
	display: none;
}
.comics-issue.open .comics-issue-closed {
	display: none;
}

.comics-issue:not(.open) .comics-issue-bottom {
	display: none;
}

.fa-read-status {
	color: #D2D2D2;
}
.fa-read-status:hover {
	color: #C4C4C4;
}
.fa-read-status.fa-read {
	color: #0AD06F;
}
.fa-read-status.fa-read:hover {
	color: #089F55;
}
.fa-read-status.loading {
	color: #C4C4C4;
	cursor: default;
}
.fa-read-status.loading:hover {
	color: #C4C4C4;
	cursor: default;
}
.fa-read-status.disabled {
	cursor: default;
}

/* SEARCH */
input.select2-search__field {
	border-radius: 0 !important;
	-webkit-appearance: none !important;
}

.select2-search--dropdown,
#search-wrap .select2-container.select2-container--default {
	padding: 0 12px;
	-webkit-transition: padding .5s ease-out;
	-moz-transition: padding .5s ease-out;
	-o-transition: padding .5s ease-out;
	transition: padding .5s ease-out;
}

body.searching .select2-search--dropdown,
body.searching #search-wrap .select2-container.select2-container--default {
	padding: 0;
}

body.searching .page-left section {
	display: none;
}

/*
height-icon: 42px
padding-icon: 2*12px
height-search-bar: 28px
padding: 2*4px
fix: 4px;
calc(100vh - 42px - 24 - 28px - 8px)
*/

/* CHECKBOX/SWITCH */
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  /*width: 46px;*/
  /*height: 26px;*/
	width: 39px;
	height: 22px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  /*width: 42px;*/
  /*height: 22px;*/
  width: 35px;
  height: 18px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  /*width: 22px;*/
  /*height: 22px;*/
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

/*.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }*/
.form-switch:active input:checked + i::after { transform: translate3d(9px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(19px, 2px, 0); }

.form-switch.comics-issue-status-read {
	position: relative;
	top: 2px;
	margin-left: 8px;
}

#home#list .comics-issue-top .comics-issue-title {
	margin-left: 0;
}

a#history-older, a.calendar-direction {
	margin: 2px 12px;
	display: block;
	text-align: right;
	font-size: 15px;
	float: right;
}
.ordering {
	position: absolute;
	left: 0;
	right: 0;
}

a.calendar-direction span.menu-title {
	pointer-events: none;
}

/* CALENDAR */
.calendar-wrapper {
	width: 100%;
}
#calendar .day {
	border-bottom: 2px solid #ececec;
	padding-bottom: 8px;
	margin-bottom: 12px;
}

#calendar .day.past .day-header {
	padding-top: 40px;
}

#calendar .day .day-header {
	/*font-family: DinotCB;*/
	/*color: #444;*/
	text-align: center;
	vertical-align: top;
	background-color: transparent;
	border: none;
	padding-top: 20px;
	width: 185px;
	float: left;
}

#calendar .day .day-header .day-info .day-label {
	font-size: 27px;
	text-transform: lowercase;
	line-height: 24px;
}

#calendar .day .day-header .day-info .day-number {
	font-size: 100px;
	color: #c6c6c6;
	line-height: 80px;
}

#calendar .day .day-header .day-info .month-label {
	font-size: 23px;
	color: #c6c6c6;
	text-transform: uppercase;
}

#calendar .day .day-header .relative-date {
	font-size: 18px;
	border-top: 1px solid #ececec;
	padding-top: 2px;
	width: 150px;
	margin: 2px auto 0;
	color: #777;
}

#calendar .calendar-releases-list {
	margin-left: 185px;
}
.calendar-releases-list {
	font-size: 0;
	letter-spacing: -1px;
}
.calendar-releases-list>li {
	width: 220px;
	padding: 0;
	margin: 12px;
	vertical-align: top;
	overflow: hidden;
}

.calendar-releases-list>li .nav, .posters-list>li .nav {
	text-align: right;
	margin-bottom: 2px;
}

.calendar-releases-list>li .nav a.read, .calendar-releases-list>li .nav a.read:hover, .posters-list>li .nav a.followed i, .posters-list>li .nav a.followed:hover i, .posters-list>li .nav a.read, .posters-list>li .nav a.read:hover {
	color: #80cf50;
}
.calendar-releases-list>li .nav a, .posters-list>li .nav a {
	color: #666;
	font-size: 16px;
	padding: 0;
	background-color: transparent;
}
.calendar-releases-list>li .release-container {
	width: 220px;
	/*height: 235px;*/
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.calendar-releases-list>li.read .release-container {
	opacity: .65;
}
/*.read-btn.read, .read-btn:hover {
	background-color: #57ad68;
	color: #fff;
}
.read-btn {
	background: #f9f9f9;
	color: #777;
}*/
.calendar-releases-list>li .image-crop {
	width: 100%;
	/*height: 122px;*/
	overflow: hidden;
	position: relative;
}
#calendar .day.past .calendar-releases-list>li .image-crop img {
	opacity: .82;
}
.calendar-releases-list>li .image-crop img {
	width: 100%;
}
.calendar-releases-list>li .release-details {
	text-align: center;
	letter-spacing: 0;
	font-size: 16px;
}
.calendar-releases-list>li .release-details h2 {
	color: #444;
	font-size: 16px;
	/*font-family: ProximaNovaB;*/
	margin: 10px auto 0;
}
.calendar-releases-list>li .release-details h2 a {
	color: #444;
}
.calendar-releases-list>li .release-details .secondary-link {
	font-size: 12px;
	color: #777;
	/*font-family: ProximaNova;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
	display: block;
	margin: auto;
}
.calendar-releases-list>li .release-details .more-infos {
	height: 20px;
	width: 193px;
	margin: 5px auto 0;
	overflow: hidden;
}
.calendar-releases-list>li .release-details p {
	width: 193px;
	margin: 5px auto 0;
	border-top: 1px solid #ececec;
	color: #777;
	font-size: 13px;
	/*font-family: ProximaNova;*/
	padding: 5px 0;
}

#calendar .calendar-wrapper .day:nth-last-child(2) {
	border-bottom: none !important;
}

@media (max-width: 768px) {
	#calendar .calendar-releases-list>li, #calendar .calendar-releases-list>li .release-container {
		width: 250px;
	}
}
@media (max-width: 1280px) {
	#calendar .calendar-releases-list>li, #calendar .calendar-releases-list>li .release-container {
		width: 260px;
	}
}

@media (max-width: 540px) {
	#calendar .calendar-releases-list>li, #calendar .calendar-releases-list>li .release-container {
		width: 185px;
	}
}

@media (max-width: 480px) {
	/*margin-left: 0;
	margin-right: 0;*/
	#calendar .day .day-header {
		float:none;
		margin: auto;
	}

	#calendar .calendar-releases-list {
		margin: auto;
		text-align: center;
	}

	#calendar .calendar-releases-list>li, #calendar .calendar-releases-list>li .release-container {
		width: 185px;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

/* SETTINGS */

.page-left .nav-bottom {
	position: absolute;
	bottom: 0;
	margin: 20px;
	transition: opacity .5s, visibility .5s;
	z-index: 0;
}

.page-left .nav-bottom i.settings-cog {
	color: var(--alt-link-color);
}

@media (max-width: 768px) {
	.page-left .nav-bottom {
		font-size: 21px;
	}	

	.page-left:not(.extended) .nav-bottom {
		opacity: 0;
		visibility: hidden;
	}	
}

/* DEV */
/*body.env__dev .page-center section:first-child h1 {*/
body.env__dev .page-center section#comics-history:first-child h1 {
	padding-right: 50px;
}
body.env__dev .page-center section#comics-calendar:first-child h1 {
	padding-right: 126px;
}
body.env__dev .page-center section:first-child h1:after {
	content: "\f109";
	float: right;
	font-family: 'FontAwesome';
	color: #FBD406;
	font-size: 10px;
}