*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	

:root {
	--main-bg-color: #121212;
	--menu-bg-color: #272727;

	--main-color: #FFF;

	--main-link-color: #3EA6FF;
}

body {
	background: var(--main-bg-color);
	color: var(--main-color);
	overflow-x: hidden;
	font-family: ProximaNova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.428571429;
	margin: 0;
	padding: 0 0 1px;
}

a {
	color: var(--main-link-color);
	background-color: transparent;
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: underline;
	outline: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.h2, h2 {
	font-size: 30px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	/*font-family: ProximaNovaSB,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
img {
	border: 0;
	vertical-align: middle;
}

dl, ol, ul {
	margin-top: 0;
}

ol, ul {
	margin-bottom: 10px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	display: table;
	content: " ";
}

/* general */
.list-inline, .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	margin-left: -5px;
	margin-right: -5px;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.embed-responsive, .modal, .modal-open, .progress {
	overflow: hidden;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.progress {
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.progress-bar-success {
	background-color: #5cb85c;
}
/*  */

.page-sidebar {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	width: 240px;
	vertical-align: top;
	z-index: 99;
}

.page-left {
	left: 0;
	background-color: var(--menu-bg-color);
}

.page-center {
	display: block;
	margin: 0 0 0 240px;
	background-color: var(--main-bg-color);
}

.page-center section {
	position: relative;
	padding: 20px 12px 0;
}

.page-center section h1 {
	/*font-family: ProximaNova;*/
	color: #666;
	margin: 0 0 0 12px;
	line-height: 24px;
	font-size: 19px;
}

.page-center-inner {
	position: relative;
}

#home {
	margin: 0;
	min-height: 600px;
}

/* homepage comics */
.covers-list {
	font-size: 0;
	letter-spacing: -1px;
	text-align: left;
	margin-top: 10px;
}
.covers-list > li {
	padding: 12px 17px;
	/*width: 187px;*/
	overflow: hidden;
	vertical-align: top;
}
.covers-list>li .nav {
	text-align: right;
	margin-bottom: 2px;
}
.covers-list>li .image-crop {
	/*width: 155px;
	height: 222px; x1.29032258*/
	width: 200px;
	height: 300px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 0 2px #777;
	position: relative;
}
.covers-list>li .nav a {
	color: #666;
	font-size: 16px;
	padding: 0;
	background-color: transparent;
}
.covers-list>li:not(.new) .new-label {
	display: none;
}
.covers-list>li.new .new-label {
	position: absolute;
	top: 24px;
	left: -24px;
	width: 68px;
	height: 34px;
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: gold;
	color: rgba(39,39,39,.8);
	/*font-family: ProximaNovaSB;*/
	font-size: 12px;
	text-transform: uppercase;
	z-index: 0;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	padding-top: 16px;
	text-align: center;
}
.covers-list>li .image-crop img {
	width: 100%;
}
.covers-list>li .image-crop .progress {
	position: absolute;
	bottom: 0;
	height: 4px;
	background-color: rgba(0,0,0,.5);
	border-radius: 0;
	z-index: 0;
	margin-bottom: 0;
	width: 100%;
}
.covers-list>li .image-crop .progress .progress-bar {
	background-color: #7cdb62;
	box-shadow: none;
}
.covers-list>li .image-crop .overlay {
	/*display: none;
	position: absolute;
	border-radius: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,.6);
	letter-spacing: 0;*/
}
.covers-list>li .image-crop:focus .overlay, .covers-list>li .image-crop:hover .overlay {
	/*display: block;*/
}
.covers-list>li .cover-details {
	letter-spacing: 0;
	text-align: left;
}
.covers-list>li .cover-details h2 {
	margin: 7px 0 2px;
	font-size: 14px;
	color: #444;
	/*font-family: ProximaNovaSB;*/
	/*height: 15px;
	overflow: hidden;*/
	/*word-break: break-all;*/
	width: 200px;
}
.covers-list>li .cover-details a {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.covers-list>li .cover-details h2 a {
	color: var(--main-color);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}
.covers-list>li .cover-details h2 span:not(.issue-number),
.covers-list>li .cover-details span:not(.issue-number) {
	/*font-family: ProximaNova;*/
	font-size: 12px;
	color: #999;
}
.covers-list>li .cover-details a {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.covers-list>li .cover-details .secondary-link {
	color: #666;
	/*font-family: ProximaNova;*/
	font-size: 12px;
	display: inline;
}
.covers-list>li .comics.complete .to-read-icon {
	visibility: hidden;
}


/* SEARCH BOX */
.select2-search, .select2-search input, .select2-results {
	background: var(--menu-bg-color);
	color: var(--main-color);
}
.select2-dropdown {
	border: none;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #353535;
    color: #fff;
    /*padding: 4px 6px 4px 26px;*/
    background-color: #222;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: calc(100vh - 28px - 33px);
    overflow-y: auto;
    overflow-x: hidden;
}

.search-item {
    overflow: auto;
    zoom: 1;
}

.search--image {
    float: left;
    width: 30%;
    padding: 0 6px 0 0;
}

.search--image img {
    width: 100%;
}

.search--info {
    float: right;
    /* margin: 0 0 0 20%; */
    width: 70%;
}


@media (max-width: 768px) {
	.page-left {
		width: 100%;
		overflow: hidden;
		bottom: auto;
		max-height: 60px;
		z-index: 7000;
		-webkit-transition: max-height .5s ease-in-out;
		-moz-transition: max-height .5s ease-in-out;
		-ms-transition: max-height .5s ease-in-out;
		-o-transition: max-height .5s ease-in-out;
		transition: max-height .5s ease-in-out;
	}
	.page-center {
		margin: 0!important;
	}
	.page-center-inner {
		position: relative;
		margin-top: 60px;
	}
	#issue-details .issue-infos .basic-infos, #show-details .basic-infos, .covers-list {
		text-align: center;
	}

	.covers-list>li {
		padding: 12px 7px;
		/*width: 148px;*/
	}
	.covers-list>li .image-crop {
		/*width: 132px;
		height: 195px;*/
		width: 170px;
		height: 255px;
    }
	.covers-list>li .cover-details h2 {
		/*width: 170px;*/
	}

	/* iPhone/tablet v2 */
	#issue-details .issue-infos .basic-infos, #show-details .basic-infos, .covers-list {
	    text-align: left;
	}

	.comics {
	    width: calc(100%/3);
	}

	.image-crop {
	    width: 100% !important;
	    height: auto !important;
	}

	.covers-list>li .cover-details h2 {
		width: 100%;
	}
}


/* Comics page */
.comics-issue {
    padding: 0 10px;
    margin: 10px;
    background: black;
}
.comics-issue-top {
    padding: 10px 0;
    position: relative;
}
.comics-issue-top div {
	display: inline;
}
.comics-issue-top .comics-issue-status span {
	float: right;
	cursor: pointer;
}
.comics-issue-top .comics-issue-title {
	cursor: pointer;
    margin-left: 10px;
}
.comics-issue-top .comics-issue-status {
    position: absolute;
    right: 0;
}
.comics-issue-controls .comics-issue-control {
	cursor: pointer;
}
.comics-issue-img {
	width: 100%
}

.comics-issue:not(.open) .comics-issue-opened {
	display: none;
}
.comics-issue.open .comics-issue-closed {
	display: none;
}

.comics-issue:not(.open) .comics-issue-bottom {
	display: none;
}

.fa-read-status {
    color: #D2D2D2;
}
.fa-read-status:hover {
    color: #C4C4C4;
}
.fa-read-status.fa-read {
    color: #0AD06F;
}
.fa-read-status.fa-read:hover {
    color: #089F55;
}
.fa-read-status.loading {
    color: #C4C4C4;
    cursor: default;
}
.fa-read-status.loading:hover {
    color: #C4C4C4;
    cursor: default;
}